.swiper-slide {
  opacity: 0.5;
  transition: all 0.4s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.01);
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.7;
}

/* Base dot style */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #cbd5e0;
  border-radius: 50%;
  opacity: 1;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

}

/* Progress bar for the active bullet */
.swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 6px;
  background-color: #ffffff;
}

/* Animate a pseudo element for progress fill */
.swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #000000; /* progress color (gray-700) */
  animation: fillProgress 5s linear forwards;
  border-radius: 6px;
  width: 0%;
}

@keyframes fillProgress {
  to {
    width: 100%;
  }
}

/* Optional: Adjust position of pagination */
/* Transparent container for the dots */
.swiper-pagination {
  position: absolute;
  bottom: 60px; /* Pushed lower */
  width: max-content; /* Only as wide as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px 20px;
  gap: 8px;

}

